# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. C++

Some of the commonly used libraries used by Data Scientists include:
* ggplot 
* Pandas
* matplotlib

In [6]:
import pandas as pd
data = [[1, 'Below are a few examples of evaluating arithmetic expressions in Python'], [3, 4]]
pd.DataFrame(data, columns=["Data Science Tools", "Bar"])

In [10]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

In [16]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
print(hours)

**Objectives:**
### List popular languages for Data Science
- Python
- Java
- C++
- C
- Julia

In [17]:
import pandas as pd
data = [['Danil']]
pd.DataFrame(data, columns=["Author"])

  Author
0  Danil